<a name="about"></a>

<div class="container text-center">

    <img src="assets/MARMS.png" class="img-fluid rounded my-2" alt="A pixel art drawing of Mary">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae necessitatibus, molestiae quisquam corrupti autem, esse, accusamus ullam labore a laborum earum.
        Nisi facilis laudantium impedit recusandae, rerum praesentium optio eaque tempore sequi ut illo accusamus, quidem iusto maiores, velit ipsam!
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptatum perferendis ipsam voluptatem est eum, impedit veniam voluptates nesciunt corporis saepe 
        libero laudantium obcaecati suscipit, eveniet, expedita natus sit architecto eaque commodi esse assumenda. Obcaecati.
    </p>

    <p>When I'm not coding I enjoy bookbinding, fountain pens, and making greeting cards by hand.</p>
</div>