.jumbotron {
    background-image: 
        radial-gradient(rgba(24, 20, 58, 0), rgba(24, 20, 58, .3), rgba(24, 20, 58, 1)),
        url("/assets/lensball-on-gray-stone-1721537.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

p {
    color: rgb(163, 163, 173);
    font-weight: 500;
}

.container h1 {
    color: rgb(235, 215, 38);
    font-weight: 500;
}

/* that nice gold: rgb(235, 215, 38); */